        
.div{
position: absolute;
top: 50%;
left: 50%;
border-radius: 50%;
border: 1px solid;
display: inline-block;
width: 100px;
height: 100px;
margin: 0;
font-size: 0;
text-align: center;
transform: translate(-50%, -50%)
}



.div-1{
background-color: lightblue  }

.div-1:hover{
    background-color: red;
}


.div-1::after{
    content: "";
    border-radius: 50%;
    background-color: rgb(125, 183, 248);
    box-sizing: border-box;
    margin: 30px;
    border: 1px solid;
    position: absolute; 
    left: -50%;
    top:-50%;
    width: 40px;
    height: 40px;
    animation: ridex 4s;
}
@keyframes ridex {
    from{
        transform: translateX(0px)
        }
    to{
        transform: translate(101px, -50px) 
    }
    
}
    
button{
    margin: 190px;
    border-radius: 0%;
    padding: 10px;
    width: 10%;
}

    button:hover{
    background-color: rgb(173, 110, 231);
    border-radius: 40%;
    transform: rotate(360deg);
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 14%;
    transition-duration: 2s;
}