body{
    margin: 0;
}
li{
    list-style: none;
    padding: 8px;
    font-size:15px;
    display: inline-block;

}
a{   
text-decoration: none;
color: black;
}
ul{
    padding: 0;
    margin: 0;
}
nav{
    border-bottom: 1px solid black;
    background-color: antiquewhite;
    color: black; 
    width: 100%;
}

li:hover{
    background-color: rgb(241, 213, 177);
    font-weight: bold;
}

@media screen and (min-width:768px){
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
}